.best-seller-title {
  margin-top: 5rem;
  text-align: center;
  font-weight: 200;
  font-size: 55px;
}

.best-seller-desc {
  margin-top: 5rem;
  text-align: center;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.6);
  padding-bottom: 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.sell-card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.sell-card {
  background: linear-gradient(to right, #ececeb, #eeee);
  padding: 2rem;
  width: 25rem;
  border-radius: 1rem;
  margin-top: 2rem;
}

.sell-card h3 {
  font-size: 24px;
  margin: 0.5rem 0;
}

.product-desc {
  color: rgba(0, 0, 0, 0.6);
  font-size: 18px;
}

.price-wrapper {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price {
  font-size: 20px;
  font-weight: bold;
}

.img-wrapper {
  text-align: center;
  z-index: -1;
}

.bi-heart {
  position: absolute;
  color: #fff;
  top: 1rem;
  left: 25rem;
}

.card-img {
  width: 22rem;
  height: 14rem;
  border-radius: 0.5rem;
}

.sell-btn-wrapper {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.add-cart,
.buy-now {
  width: 50%;
  padding: 0.3rem;
  border-radius: 0.5rem;
  font-size: 16px;
}

.add-cart {
  display: flex;
  align-items: center;
}

.buy-now {
  background-color: #111111;
  color: #fff;
}
footer {
  background-color: #f0efeb;
  padding: 3rem;
  border-radius: 2rem;
  margin-top: 6rem;
  display: flex;
  justify-content: space-around;
}

.footer-infos {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
  font-size: 24px;
}

.icons-wrapper {
  font-size: 40px;
  display: flex;
  gap: 3rem;
}

.footer-links {
  text-decoration: none;
  color: #000000;
  transition: 1s;
}

.footer-links:hover {
  color: rgba(0, 0, 0, 0.3);
  transform: scale(1.1);
}
