* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu";
}

body {
  background-color: #fff;
  color: #111111;
  padding: 1rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo-img {
  width: 3rem;
  height: 3rem;
}

.main-title {
  font-family: Caveat;
  font-size: 75px;
}

header input {
  border: 0;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  position: relative;
  outline: 0;
  width: 100%;
  font-size: 20px;
}

.input-wrapper {
  position: relative;
  width: 40rem;
}

.search-icon {
  position: absolute;
  top: 1.1rem;
  right: 2rem;
  z-index: 10;
  border: 0;
  background-color: transparent;
  font-size: 20px;
}

.nav-functions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  font-size: 18px;
}

.bi-person-circle,
.bi-heart,
.bi-bag {
  font-size: 30px;
}

.departments {
  padding: 2rem;
  display: flex;
  justify-content: center;
  gap: 8rem;
  font-size: 22px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.function {
  color: rgba(0, 0, 0, 0.5);
}

.headphone-card {
  margin: 2rem;
  background: linear-gradient(to right, #f0efeb, #eeee);
  border-radius: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.best-offer {
  text-align: center;
}
.best-offer-btn {
  background-color: #fdc62e;
  padding: 1rem 2rem;
  border-radius: 1rem;
  font-size: 20px;
}

.headphone-card h1 {
  margin-top: 4rem;
  font-weight: 200;
  font-size: 45px;
}
.headphone-card h2 {
  font-size: 55px;
  margin: 2rem 0 1rem 0;
}

.headphone-img {
  width: 35rem;
  padding: 4rem;
}

.buy-btn {
  margin-top: 3rem;
  padding: 1rem 2rem;
  border: 0;
  border-radius: 2rem;
  background-color: #111111;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: 1s;
}
.buy-btn:hover {
  background-color: rgba(17, 17, 17, 0.4);
}

.advantages {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.advantages div {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  width: 20rem;
  height: 3.5rem;
  border-radius: 3rem;
  border: 1px solid rgba(17, 17, 17, 0.4);
  background-color: transparent;
  font-size: 22px;
}

.bi-currency-dollar,
.bi-percent,
.bi-truck {
  font-size: 30px;
  background-color: transparent;
  padding: 0.6rem;
  border-radius: 100%;
  color: #111111;
  border: 1px solid #111111;
}

.main-container {
  padding: 3rem;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.mouse-card {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  background: linear-gradient(to right, #000000, #434343);
  color: #fff;
  padding: 2rem;
  border-radius: 2rem;
  width: 30rem;
  position: relative;
}

.mouse-desc {
  margin-top: 3rem;
  padding: 3rem;
}

.mouse-top-title {
  margin-top: 4rem;
  font-size: 40px;
  font-weight: 200;
}

.mouse-title {
  font-size: 80px;
  letter-spacing: 1rem;
  color: rgba(255, 255, 255, 0.3);
}

.mouse-subtitle {
  font-size: 40px;
  margin: 1rem 0;
}

.is-big {
  width: 60rem;
}

.nav-btn {
  padding: 0.75rem 2rem;
  border: 0;
  border-radius: 2rem;
  background-color: #fff;
  color: #111111;
  font-size: 20px;
  cursor: pointer;
  transition: 1s;
  margin-top: 2rem;
}

.mouse-img {
  width: 22rem;
  position: absolute;
  top: 4rem;
  left: 7rem;
}

.monitor-card {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  width: 60rem;
  background: linear-gradient(to right, #170d43, rgba(23, 13, 67, 0.6));
  border-radius: 2rem;
  position: relative;
  padding: 2rem;
}

.monitor-img {
  width: 28rem;
  position: absolute;
  top: 5rem;
  left: 30rem;
}

.monitor-desc {
  margin-top: 8rem;
  padding: 3rem;
  color: #fff;
}

.monitor-top-title {
  font-size: 50px;
  font-weight: 200;
}

.monitor-subtitle {
  font-size: 60px;
  margin: 1rem 0;
}

.monitor-title {
  font-size: 65px;
  letter-spacing: 1rem;
  color: rgba(255, 255, 255, 0.3);
}
.is-purple {
  color: #170d43;
}

.phone-card {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  width: 30rem;
  background: linear-gradient(to right, #465cb3, rgba(70, 92, 179, 0.2));
  border-radius: 2rem;
  position: relative;
  padding: 1rem;
}

.phone-img {
  position: absolute;
  width: 26rem;
  top: 0;
  right: 0;
}
.phone-desc {
  padding: 3rem;
  margin-top: 15rem;
  color: #fff;
}

.phone-top-title {
  font-weight: 200;
  font-size: 50px;
}

.phone-title {
  letter-spacing: 1rem;
  font-size: 45px;
  color: rgba(255, 255, 255, 0.5);
  margin: 1rem 0;
}
.is-blue {
  color: #215e7b;
}

.earphone-card {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  width: 30rem;
  background: linear-gradient(to right, #ffc422, rgba(253, 198, 46, 0.7));
  border-radius: 2rem;
  position: relative;
  padding: 1rem;
}

.earphone-img {
  width: 30rem;
  position: absolute;
  bottom: 0;
  left: 7rem;
}

.earphone-desc {
  padding: 2rem;
  color: #fff;
}

.earphone-top-title {
  font-weight: 200;
  font-size: 45px;
}

.earphone-subtitle {
  font-size: 65px;
  margin: 1rem 0;
}

.earphone-title {
  font-size: 90px;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 9rem;
}
.is-yellow {
  color: #fdc62e;
}

.notebook-card {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  background: linear-gradient(to right, #f82402, rgba(248, 36, 2, 0.6));
  border-radius: 2rem;
  position: relative;
  padding: 1rem;
}

.notebook-img {
  width: 30rem;
  position: absolute;
  right: 2rem;
  bottom: 6rem;
  transform: rotate(-20deg);
}

.notebook-desc {
  margin-top: 5rem;
  padding: 3rem;
  color: #fff;
}

.notebook-top-title {
  font-weight: 200;
  font-size: 40px;
}

.notebook-subtitle {
  font-size: 65px;
  margin: 1rem 0;
}

.notebook-title {
  font-size: 100px;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 2rem;
}

.is-red {
  color: #f82402;
}

.control-card {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  width: 30rem;
  background: linear-gradient(to right, #a2bc10, rgba(162, 188, 16, 0.5));
  border-radius: 2rem;
  position: relative;
  padding: 1rem;
}

.control-img {
  position: absolute;
  width: 18rem;
  bottom: 2rem;
  right: 1rem;
}

.control-desc {
  padding: 2rem;
  color: #fff;
}

.control-top-title {
  font-weight: 200;
  font-size: 40px;
}

.control-title {
  font-size: 70px;
  color: rgba(255, 255, 255, 0.5);
}
.is-green {
  color: #a2bc10;
}

.best-seller-title {
  margin-top: 5rem;
  text-align: center;
  font-weight: 200;
  font-size: 55px;
}

.best-seller-desc {
  margin-top: 5rem;
  text-align: center;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.6);
  padding-bottom: 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.sell-card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.sell-card {
  background: linear-gradient(to right, #ececeb, #eeee);
  padding: 2rem;
  width: 25rem;
  border-radius: 1rem;
  margin-top: 2rem;
}

.sell-card h3 {
  font-size: 24px;
  margin: 0.5rem 0;
}

.product-desc {
  color: rgba(0, 0, 0, 0.6);
  font-size: 18px;
}

.price-wrapper {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price {
  font-size: 20px;
  font-weight: bold;
}

.img-wrapper {
  text-align: center;
  z-index: -1;
}

.bi-heart {
  position: absolute;
  color: #fff;
  top: 1rem;
  left: 25rem;
}

.card-img {
  width: 22rem;
  height: 14rem;
  border-radius: 0.5rem;
}

.sell-btn-wrapper {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.add-cart,
.buy-now {
  width: 50%;
  padding: 0.3rem;
  border-radius: 0.5rem;
  font-size: 16px;
}

.add-cart {
  display: flex;
  align-items: center;
}

.buy-now {
  background-color: #111111;
  color: #fff;
}
footer {
  background-color: #f0efeb;
  padding: 3rem;
  border-radius: 2rem;
  margin-top: 6rem;
  display: flex;
  justify-content: space-around;
}

.footer-infos {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
  font-size: 24px;
}

.icons-wrapper {
  font-size: 40px;
  display: flex;
  gap: 3rem;
}

.footer-links {
  text-decoration: none;
  color: #000000;
  transition: 1s;
}

.footer-links:hover {
  color: rgba(0, 0, 0, 0.3);
  transform: scale(1.1);
}
