header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 5rem;
}

.logo-title {
  font-family: "Caveat", sans-serif;
  font-size: 80px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
  font-size: 18px;
}

.nav-icon {
  font-size: 32px;
}

.link-anchor {
  display: flex;
  flex-direction: column;
  text-align: center;
}

footer {
  background-color: #f0efeb;
  padding: 5rem;
  border-radius: 2rem;
  margin-top: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.footer-items {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
  font-size: 20px;
}

.social-icons-wrapper {
  font-size: 55px;
  display: flex;
  gap: 3rem;
}

.footer-links {
  text-decoration: none;
  color: #000000;
  transition: 1s;
}

.footer-links:hover {
  color: rgba(0, 0, 0, 0.3);
  transform: scale(1.1);
}

@media only screen and (max-width: 1050px) {
  .social-icons-wrapper {
    flex-direction: column;
  }
  header {
    flex-direction: column;
    gap: 2rem;
  }
}

@media only screen and (max-width: 920px) {
  .logo {
    margin: 0 auto;
  }
  footer {
    flex-direction: column;
    text-align: center;
  }
  .social-icons-wrapper {
    flex-direction: row;
  }
}

@media only screen and (max-width: 400px) {
  .logo-img {
    width: 4rem;
  }
  .logo-title {
    font-size: 50px;
  }
}
