.form-modal,
.modal-overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

input,
textarea {
  width: 100%;
  margin: 1rem 0;
  border-radius: 1rem;
  font-size: 18px;
  padding: 1rem;
}

.modal-overlay {
  background: rgba(49, 49, 49, 0.8);
}

.form-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  padding: 14px 28px;
  border-radius: 2rem;
  padding: 3rem;
  font-size: 20px;
  background: linear-gradient(to right, #f0efeb, #eeee);
}
.close-btn-wrapper {
  text-align: end;
}
.close-btn {
  font-size: 45px;
  cursor: pointer;
}
.form-content h1 {
  text-align: center;
}

.save-btn-wrapper {
  text-align: center;
}
.save-btn {
  color: #f0efeb;
  margin: 3rem 0;
  padding: 0.6rem 3rem;
  background-color: #54be96;
  border-radius: 0.5rem;
  border: 1px solid rgba(49, 49, 49, 0.8);
  font-size: 18px;
  cursor: pointer;
  transition: 1s;
  text-align: center;
}

.save-btn:hover {
  transform: scale(1.1);
}

.rating{
  position: absolute;
  top: 77%;
  left: 50%;
  transform: translate(-50%,-50%) rotateY(180deg);
  display: flex;
}

.rating input{
  display: none;
}

.rating label{
    display: block;
    cursor: pointer;
    width: 35px;
    margin: 0 .5rem;
}

.rating label:before{
  content: '\f005';
  font-family: fontAwesome;
  position: relative;
  display: block;
  font-size: 35px;
  color: #0e1316;
}

.rating label:after{
  content: '\f005';
  font-family: fontAwesome;
  position: absolute;
  display: block;
  font-size: 35px;
  color: #ffff00;
  top: 0;
  opacity: 0;
  transition: .5;
  text-shadow: 0 4px 5px rgba(0, 0, 0, .5);
}
.rating label:hover:after,
.rating label:hover ~ label:after,
.rating input:checked ~ label:after{
  opacity: 1;
}