.admin-logo {
  justify-content: center;
  margin: 2rem 0;
}

.admin-logo img {
  width: 10rem;
}
.admin-logo h1 {
  font-size: 100px;
  font-family: "Caveat", sans-serif;
}

.admin-container {
  text-align: center;
}

.add-product-btn {
  margin: 2rem 0;
  padding: 0.75rem 3rem;
  font-size: 24px;
  border-radius: 1rem;
  background-color: #54be96;
}
