footer {
  background-color: #f0efeb;
  padding: 3rem;
  border-radius: 2rem;
  margin-top: 6rem;
  display: flex;
  justify-content: space-around;
}

.footer-infos {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
  font-size: 20px;
}

.icons-wrapper {
  font-size: 40px;
  display: flex;
  gap: 3rem;
}

.footer-links {
  text-decoration: none;
  color: #000000;
  transition: 1s;
}

.footer-links:hover {
  color: rgba(0, 0, 0, 0.3);
  transform: scale(1.1);
}
