.form-modal,
.modal-overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

input,
select {
  width: 20rem;
  margin: 2rem;
  border-radius: 1rem;
  font-size: 18px;
  padding: 1rem;
}

select{
  text-align: center;
  font-size: 20px;
}

.modal-overlay {
  background: rgba(49, 49, 49, 0.8);
}

.form-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem 28px;
  border-radius: 2rem;
  padding: 2rem;
  font-size: 18px;
  background: linear-gradient(to right, #f0efeb, #eeee);
}

.form-content h1 {
  font-size: 40px;
}

.save-btn-wrapper {
  margin: 0 auto;
  }

  .save-btn-wrapper button {
  color: #f0efeb;
  margin: 3rem 0;
  padding: 0.6rem 3rem;
  background-color: #54be96;
  border-radius: 0.5rem;
  border: 1px solid rgba(49, 49, 49, 0.8);
  font-size: 22px;
  cursor: pointer;
  transition: 1s;
  text-align: center;
  width: 60%;
  margin: 0 auto ;
}

.save-btn:hover {
  transform: scale(1.1);
}