.product-card-main-desc {
  margin-top: 3rem;
  padding: 2rem;
}

.product-card-main-desc h1 {
  margin: 0.4rem 0;
  font-size: 20px;
  color: #fff;
}

.product-card-main-desc h2 {
  font-size: 40px;
  color: #fff;
}

.product-card-main-desc h3 {
  font-size: 60px;
  letter-spacing: 0.5rem;
  color: rgba(255, 254, 254, 0.3);
}

.product-card-main-desc button {
  font-size: 18px;
  padding: 0.75rem 2rem;
  border-radius: 2rem;
  background-color: #fff;
  border: 0;
  margin: 1rem;
  font-weight: bold;
}

.mouse-card,
.phone-card,
.monitor-card,
.notebook-card,
.earphone-card,
.control-card {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
  width: 26rem;
  height: 22rem;
}

.mouse-img,
.phone-img,
.monitor-img,
.notebook-img,
.earphone-img,
.control-img {
  position: absolute;
  top: 0rem;
  bottom: 0rem;
  right: 0rem;
  width: 25rem;
  transform: translateX(30%);
}

.mouse-card {
  background: linear-gradient(to right, #222222, #333333);
}

.phone-card {
  background: linear-gradient(to right, #013256, #1e4a72);
}

.monitor-card {
  background: linear-gradient(to right, #170d43, #170d43cc);
  width: 40%;
}

.notebook-card {
  background: linear-gradient(to right, #f52d37, #f93f4d);
  width: 40%;
}

.earphone-card {
  background: linear-gradient(to right, #f9c522, #f8cb42);
}

.control-card {
  background: linear-gradient(to right, #c9e337, #8fa90e);
}

.mouse-img {
  width: 14rem;
}

.phone-img {
  transform: translate(55%);
}

.notebook-img {
  top: 2rem;
}

.earphone-img {
  top: 3rem;
}

.control-img {
  width: 18rem;
  top: 3rem;
  transform: translateX(50%);
}

@media only screen and (max-width: 1560px) {
  .monitor-card,
  .notebook-card {
    width: 26rem;
  }
  .monitor-img {
    width: 22rem;
    top: 2rem;
  }
}

@media only screen and (max-width: 1375px) {
  .notebook-img {
    transform: translate(45%);
  }

  .monitor-img {
    transform: translate(38%);
  }

  .monitor-img {
    top: 0.5rem;
    width: 20rem;
  }
}

@media only screen and (max-width: 450px) {
  .product-card-main-desc h2 {
    font-size: 30px;
  }

  .product-card-main-desc h3 {
    margin: 2rem 0;
    font-size: 36px;
    letter-spacing: 0;
  }

  .mouse-img {
    top: 3rem;
    width: 10rem;
    transform: translate(50%);
  }

  .phone-img {
    width: 20rem;
    top: 1rem;
    transform: translate(65%);
  }

  .monitor-img {
    transform: translate(50%);
  }

  .notebook-img {
    top: 3rem;
    width: 20rem;
    transform: translate(60%);
  }

  .earphone-img {
    top: 3rem;
    width: 20rem;
    transform: translate(30%);
  }

  .control-img {
    top: 2rem;
    width: 15rem;
  }
}
