.desert-icon {
  margin-top: 2rem;
  font-size: 70px;
}

.wishlist-table-container {
  max-height: 40rem;
  overflow-y: auto;
  overflow-x: auto;
  margin: 1rem;
}

table {
  width: 90%;
  margin: 2rem auto;
  font-size: 22px;
  border-radius: 1rem;
  border-collapse: collapse;
  padding: 1rem;
}

th {
  font-size: 28px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  padding: 3rem 0;
}

tr {
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  padding: 1rem;
}

td {
  margin: 3rem 0;
  padding: 1rem;
}

tbody img {
  width: 5rem;
  height: 5rem;
  border-radius: 1rem;
}

.product-image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.add-btn,
.rmv-fav-btn {
  border: 0;
  margin: 0 1rem;
  padding: 0.75rem 1.75rem;
  font-size: 20px;
  border-radius: 1rem;
  margin-top: 1rem;
}

.add-btn {
  background-color: #000;
  color: #fff;
}

.rmv-fav-btn {
  background-color: #eeee;
}

@media only screen and (max-width: 1006px) {
  .add-btn,
  .rmv-fav-btn {
    font-size: 16px;
    border-radius: 1rem;
  }

  table {
    font-size: 18px;
  }

  th,
  td {
    padding: 1rem;
    margin: 1rem;
  }
}
