.admin-logo {
  margin: 2rem 0;
}

.admin-logo img {
  width: 10rem;
}

.admin-logo h1 {
  font-size: 100px;
  font-family: "Caveat", sans-serif;
}

.admin-container {
  text-align: center;
}

@media only screen and (max-width: 530px) and (min-width: 320px) {
  .admin-logo img {
    width: 5rem;
  }

  .admin-logo h1 {
    font-size: 60px;
  }
}
